* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.caesar-dressing-regular {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
}
body {
  background-color: #eff2f3;
}

.container {
  display: flex;
}
.left {
  flex: 1.5;
  font-weight: 500;
  height: 100vh;
  background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  position: absolute;
  bottom: 1rem;
}
.credit,
.credit a {
  color: #eeeeee9c;
  font-size: 0.7rem;
}
.right {
  flex: 2.5;
  /* padding: 2rem; */
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 7rem;
}
.dark {
  font-family: "caesar dressing";
  color: #fff;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.39);
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22rem;
  cursor: default;
}

.dark img {
  width: 4rem;
  margin-right: 0.5rem;
}
p {
  line-height: 1.3;
  margin-bottom: 1.5rem;
}
.txt {
  padding: 2rem;
}
.form-cont h2 {
  color: rgb(61, 61, 61);
}
.form-cont {
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.11);
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}

.formFlex {
  display: flex;
  gap: 1rem;
}
label {
  display: block;
  margin-top: 1rem;
  color: rgb(83, 83, 83);
  font-size: 0.8rem;
  font-weight: bold;
}
input {
  width: 90%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:active,
input:focus {
  transition: all 0.2s ease;
  border: 1px solid #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
input:invalid {
  border: 1px solid red;
}
.formleft {
  flex: 1;
  max-width: 300px;
}
.formright {
  flex: 1;
  max-width: 300px;
}

button {
  width: 25%;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #596d48;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 2rem;
  font-weight: 500;
  transition: all .2s ease-in-out;
}
button:hover {
  background-color: #3f5031;
   transition: all .2s ease-in-out;
   border-radius: 12px 0px 12px 0px;
}
.already {
  margin-top: 1.5rem;
  margin-left: 2rem;
  font-size: 0.9rem;
  color: rgb(83, 83, 83);
}
.already a {
  color: #3f5031;
  text-decoration: none;
  font-weight: 500;
}
.already a:hover {
  text-decoration: underline;
}